ion-card-subtitle {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}

ion-card-title {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fontstyle {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}


.carSelectedYears {
  display: inline-block;
}
