<ion-header>
  <ion-toolbar>
    <ion-title>editcarremotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
  <ion-card *ngFor="let remote of remoteswithoutremotetype"
    class="ion-activatable ripple-parent">
      <ion-card-content>
        <ion-row class="ion-no-padding">
          <ion-col size-xs="6" size-md="6" size-lg="6">
            <ion-card-subtitle color="primary" id="boxNumber" class="primarytext"s>BOX: {{remote.boxnumber}}</ion-card-subtitle>
            <ion-card-subtitle color="danger" class="primarytext">{{remote.frequency}}</ion-card-subtitle>
            <ion-card-subtitle color="dark" class="primarytext">BLADE:{{remote.inbuildblade}}</ion-card-subtitle>
            <ion-card-subtitle color="medium" class="primarytext">{{remote.inbuildchip}}</ion-card-subtitle>
            <ion-card-subtitle color="dark" class="primarytext">CODE:{{remote.tapsycode}}</ion-card-subtitle>
          </ion-col>
          <ion-col size-xs="3" size-md="4" offset-md="1" size-lg="4" offset-lg="1">
            <img src="{{remote.image}}" width="120" height="120" />
            <ion-chip class="primarytext" color="danger" *ngIf="!remote.remoteinStock">
              <ion-label>LOW STOCK</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-button (click)="_editandupload()">
    Edit and Submit
  </ion-button>

</ion-content>
