<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addcarbrand</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content padding> -->
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card>
    <ion-item>
      <ion-label color="danger" position="stacked">Car Brand</ion-label>
      <ion-input type="text" ngModel name="carbrand" placeholder="NLK-FORD-433.2" required></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="danger" position="stacked">Icon Name</ion-label>
      <ion-input placeholder="110" type="text" ngModel name="iconname" required></ion-input>
    </ion-item> -->
    <br>
    <ion-grid>
      <ion-row no-padding>
        <ion-col size="6" text-center>
          <ion-button class="doneButton" type="submit" expand="block">DONE</ion-button>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-button class="doneButton" color="success" (click)="uploadButton()" expand="block">UPLOAD</ion-button>
        </ion-col>
      </ion-row>
     
      
    </ion-grid>
    
    </ion-card>
  </form>

  <ion-card *ngFor="let newcarbrand of newcarbrands">
    <ion-grid>
      <ion-card-content>
        <ion-row no-padding>
          <ion-col size="6" text-center>
            <ion-card-subtitle color="medium">Name: {{newcarbrand.name}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="6">
            <ion-card-subtitle color="medium">Icon: {{newcarbrand.icon}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-grid>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>

<!-- </ion-content> -->